# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
*.db
*.sqlite3

# Node
node_modules/
.next/
out/
build/
dist/
.DS_Store

# IDEs
.vscode/
.idea/

# Backend specific
backend/venv/
backend/__pycache__/
backend/*.pyc

# Web specific
web/node_modules/
web/.next/
web/out/

# Logs
*.log
